@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/SpaceGroteskRegular.ttf");
  font-family: "Space Grotesk";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/SpaceGroteskMedium.ttf");
  font-family: "Space Grotesk";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/RubikRomanMedium.ttf");
  font-family: "Rubik";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/SpaceGroteskBold.ttf");
  font-family: "Space Grotesk";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/SpaceGroteskLight.ttf");
  font-family: "Space Grotesk";
  font-weight: 300;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/MontserratRomanSemiBold.ttf");
  font-family: "Montserrat";
  font-weight: 600;
}
